nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://w0.peakpx.com/wallpaper/586/862/HD-wallpaper-anime-anime-girls-digital-art-artwork-portrait-display-vertical-2d.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  width: 80%;
  border-radius: 40px;
  opacity: 0.8;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

li {
  padding: 1rem;
  margin: 0 0rem 0rem 4rem;
  list-style: none;
  border-radius: 20px;
  font-size: 2rem;
}

a,
li {
  color: whitE;
  font-family: "Rubik Vinyl", cursive;
  width: 140px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

.active {
  color: whitesmoke;
}

li:has(> a.active) {
  color: white;
  background-color: rgba(8, 10, 48, 0.847);
  opacity: 1;
  box-shadow: rgba(255, 255, 255, 0.516) 0px 2px 8px 0px;
  size: 220%;
}

li:has(> a.logout) {
  color: white;
  background-color: rgba(219, 60, 187, 0.578);
  opacity: 1;
  box-shadow: rgba(255, 255, 255, 0.516) 0px 2px 8px 0px;
  size: 220%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
}

li:has(> a.logout):hover {
  background-color: rgba(207, 28, 171, 0.883);

  box-shadow: rgba(255, 255, 255, 0.516) 0px 2px 8px 0px;
  size: 240%;
  
}
.avatar{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 1rem;
  
}

.containerUser{
  display:flex;
  justify-content: center;
  align-items: center;
}

.iconLogout{
  width: 80%;
  margin-top: 5px;
  filter:hue-rotate(180deg) brightness(500%);

}

.titleUser{
  margin-left: 20px;
  font-family: "Rubik Vinyl", cursive;  
  font-size: 2rem;
}
