header{
  height: 10vh;
  border: solid 1px black;
  display: flex; 
  justify-content: center;
  align-items: center;
}

main{
  min-height: 80vh ;
  border: 1px solid black;
  display: flex; 
  justify-content: center;
  align-items: center;

  & #openModal{
    width: 150px;
    height: 50px;

  }
  & h1 {
    text-align: center;
  }
}
footer{
  height: 10vh ;
  border: solid 1px black;
  display: flex; 
  justify-content: center;
  align-items: center;
}